{% extends 'base.html' %}

{% block body %}
    {% for article in articles %}
        <h5>{{article.title}}</h5>
        <p>{{article.content}}</p>
        <p>{{atticle.created_at}}</p>

        {% comment %}
        <a href="{% url 'articles:delete' id=article.id %}">delete</a>
        {% endcomment %}

        <form action="{% url 'articles:delete' id=article.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>

        <a href="{% url 'articles:update' id=article.id %}">update</a>
    {% endfor %}
{% endblock %}